*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    max-width: 100%;
}
body{
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
}


}
body{
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 150px;
}
header{
    display: flex;
}
nav{
    margin-left: 690px;
}

ul{
    display: inline-flex;
}
li{
    list-style-type: none;
    padding-right: 20px;
}

a{
    text-decoration : none;
}
li a{
    text-decoration: none;
    color: grey;

li a{
    text-decoration: none;
    color: grey;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    font-size: 15px;
    transition: all 0.2s;
}
li a:hover{
    color: black;
    padding: 2px;
}
button{
padding: 15px;
font-weight: bold;
cursor: pointer;
color: black;
background-color: orange;
border-radius: 5px;
border: none;
}
main{
margin-top: 40px;
}

.mainimage{
    width: 43%;
    margin-top: 20px;
}
h1{
    font-size: 2.2em;
}
.newstext{
    margin-top: 10px;
    line-height: 25px;
}
.first{
    float: right;
    margin-top: 40px;
}

.image{
width: 10%;
margin-top: 10px;
position: relative;
}
.content{
    font-size: 18px;
    font-weight: 700;
}
.move-top{
    position: absolute;
    top: 51%;
    right: 37%;
}
.content-1{
    font-size: 18px;

main img{
    width: 43%;
    margin-top: 20px;
}
main h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 31.5px;
    font-weight: 500;
    display: flex;
    position: absolute;
    top: 130px;
    left: 700px;
}
main p{
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    position: absolute;
    top: 230px;
    left: 700px;
}
.image{
width: 10%;
position: absolute;
top: 300px;
left: 700px;
}
.content{
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    position: absolute;
    top: 360px;
    left: 860px;
}
.content-1{
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    position: absolute;
    top: 385px;
    left: 860px;

    font-weight: 100;
}
.main2{
    display: grid;
    grid-template-columns: auto auto auto;

    grid-template-rows: auto;
    margin-top: 100px;
    column-gap: 30px;
}
.image-1{
    width: 100%;

    grid-template-rows: auto auto auto;
    margin-top: 100px;
}
.image-1{
    width: 100%;
    padding-left: 30px;

}
.subheading{
    color: rgb(12, 12, 12);
    text-align: left;

    margin-top: 20px;

    margin-left: 40px;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}
.paragraph{
    color: gray;
    text-align: left;

    margin-left: 40px;

    margin-top: 15px;
    line-height: 22px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.avatar{
    width: 20%;
    margin-top: 30px;  

}
.grid{
    position: relative;
}
.content-2{
    position: absolute;
    bottom: 8%;
   left: 25%;
}
footer{
    margin-top: 40px;
 display: flex;
 justify-content: space-between;
}
.foot{
    margin-top: 15px;
    color: grey;
}
@media screen and (min-width : 320px) and (max-width : 480px) {
    body{
        margin-left: 15px;
        margin-right: 20px;
    }
    .mainimage{
        width: 100%;
    }
    .first{
        float: none;
        position: relative;
    }
    .main2{
        display: block;
    }
    h1 > br{
        display: none;
    }
    h1{
        font-size: 1.5em;
        margin-top: 20px;
    }
    .image{
        width: 30%;
    }
    .move-top{
        position: absolute;
        top: 75%;
        right: 15%;

    }
    .grid{
        margin-top: 30px;
    }
    .content-2{
        position: absolute;
        bottom: 3%;
    }
    footer{
        display: block;
    }
    .sidenav{
        position: fixed;
        top: 0;
        right: 0;
        background-color: whitesmoke;
        height: 100vh;
        width: 0px;
        z-index: 5;
    }
    .newstext > br{
        display: none;
    }
    ul{
        display: block;
        margin-top: 50px;
    }
    li{
       text-align: center;
       font-size: 1.1em;
       margin-top: 40px;
    }
    button{
        width: 70%;
        margin-left: 30px;
        margin-right: 30px;
        font-size: 1.1em;
        margin-top: 40px;
    }
    .closenav{
        font-size: 3em;
        color: brown;
    }
    .subheading > br {
        display: none;
    }
    .paragraph > br{
        display: none;
    }
}
@media screen and (min-width : 500px) and (max-width : 900px) {
    .hamnav, .closenav{
        display: none;
    }
    .newstext > br{
        display: none;
    }
    h1 > br{
        display: none;
    }
    .grid{
        margin-top: 30px;
    }
    .subheading > br {
        display: none;
    }
    .paragraph > br{
        display: none;
    }
    body{
        margin-left: 30px;
        margin-right: 30px;
    }
    .first{
        float: none;
    }
    .main2{
        display: block;
    }
    .mainimage{
        width: 100%;
    }
    .image{
        width: 30%;
    }
    .first{
        position: relative;
    }
    .move-top{
        position: absolute;
        top: 280px;
    }
    

}
@media screen and (min-width : 1024px) and (max-width : 1440px) {
    .hamnav, .closenav{
        display: none;
    }
}

    position: relative;
    left: 50px;
}
.content-2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    bottom: 65px;
    left: 150px;
}
footer{
 display: inline-flex;
}
.foot{
    margin-left: 700px;
    margin-top: 15px;
    color: grey;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

    
